<div class="passenger-page container">
  <div class="row pt-4">
    <div class="passenger-page-title col col-12">
      <div class="d-flex flex-row justify-content-between align-items-center">
        <!-- <h1 class="m-0 p-0">Dashboard</h1> -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 pb-3" [formGroup]="tripDetailsFormGroup">
      <div class="row">
        <div class="col col-12 pb-3">
          <div class="form-group-name">START QR SCANNING SESSION</div>
        </div>
        <div class="col col-12 pb-3">
          <div class="form-group">
            <label>Select trip action</label>
            <div class="custom-radio d-flex flex-row gap-3 align-items-center">
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  formControlName="tripAction"
                  type="radio"
                  name="tripAction"
                  id="onboarding"
                  value="On-boarding"
                />
                <label class="form-check-label" for="onboarding"
                  >On-boarding</label
                >
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  formControlName="tripAction"
                  type="radio"
                  name="tripAction"
                  id="offboarding"
                  value="Off-boarding"
                />
                <label class="form-check-label" for="offboarding"
                  >Off-boarding</label
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 pb-3">
      <div class="card">
        <div class="card-body">
          <mat-form-field class="d-block">
            <mat-label>-- Select Camera Device --</mat-label>
            <mat-select
              [value]="deviceSelected"
              (valueChange)="onDeviceSelectChange($event)"
            >
              <mat-option value="">No Device Selected</mat-option>
              <mat-option
                *ngFor="let device of availableDevices"
                [value]="device.deviceId"
                >{{ device.label }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <zxing-scanner
            [formats]="allowedFormats"
            (scanSuccess)="onCodeResult($event)"
            [device]="deviceCurrent"
            (deviceChange)="onDeviceChange($event)"
            (camerasFound)="onCamerasFound($event)"
          ></zxing-scanner>
          <strong>{{ qrResultString }}</strong>
        </div>
      </div>
    </div>
  </div>
</div>
