<h2>Dashboard</h2>
<mat-grid-list id="counter-container" [cols]="breakpoint" rowHeight="2:1" (window:resize)="onResize($event)">
  <mat-grid-tile class="counter-item">
    <mat-card>
        <mat-card-title>
            <h4>Trips Finished</h4>
        </mat-card-title>
        <mat-card-content>
            <h1>0</h1>
        </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile class="counter-item">
    <mat-card>
        <mat-card-title>
            <h4>Item 1</h4>
        </mat-card-title>
        <mat-card-content>
            <h1>0</h1>
        </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile class="counter-item">
    <mat-card>
        <mat-card-title>
            <h4>Item 2</h4>
        </mat-card-title>
        <mat-card-content>
            <h1>0</h1>
        </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile class="counter-item">
    <mat-card>
        <mat-card-title>
            <h4>Item 3</h4>
        </mat-card-title>
        <mat-card-content>
            <h1>671</h1>
        </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
