<!-- Header -->
<app-header (toggleSideNavEvent)="sideNavToggler()"></app-header>

<mat-sidenav-container hasBackdrop="false">
    <!-- sidenav -->
    <mat-sidenav id="appSidenav" mode="side" [opened]="sideNavOpened" color="primary">
        <app-sidebar></app-sidebar>
    </mat-sidenav>

    <!-- app content, router outlet container -->
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

<!-- footer -->
<app-footer></app-footer>