<div class="passenger-page container">
  <div class="row pt-5">
    <div class="passenger-page-title col col-12">
      <div class="d-flex flex-row justify-content-between align-items-center">
        <h1 class="m-0 p-0">Trip History</h1>
        <button class="m-0 p-0" mat-fab color="warn" aria-label="Edit Profile">
          <mat-icon>save_alt</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="row pt-5">
    <!-- table -->
    <div class="table-responsive table-responsive-sm">
      <table class="table table-hover">
        <caption>
          Showing 10 of {{ 45 }} trip records, export to view them all.
        </caption>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Bus</th>
            <th scope="col">Date</th>
            <th scope="col">Boarded</th>
            <th scope="col">Descended</th>
            <th scope="col">Route</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">F2DF3A</th>
            <td>Mosuela</td>
            <td>2022-11-23</td>
            <td>08:34:00 AM</td>
            <td>09:15:00 AM</td>
            <td>Bacnotan - San Fernando City</td>
          </tr>
          <tr>
            <th scope="row">GH18E4</th>
            <td>MAJJJM</td>
            <td>2022-11-23</td>
            <td>05:12:00 PM</td>
            <td>05:56:00 PM</td>
            <td>San Fernando City - Bacnotan</td>
          </tr>
          <tr>
            <th scope="row">D9S067</th>
            <td>Redval</td>
            <td>2022-11-24</td>
            <td>09:12:00 AM</td>
            <td>10:30:00 AM</td>
            <td>Sudipen - San Fernando City</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
